<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<input type="hidden" value="<%= callback %>" id="callback"/>
<% crossDomainClients.forEach(function (client) { %>
    <%var url = 'http://' + client.domain + '/plantcookie?token=' + token%>
    <iframe width="0" height="0" src="<%= url %>"></iframe>
<% }) %>
</body>
<script>
    window.setTimeout(function () {
                var callback = document.getElementById('callback').value;
                location.replace(callback);
            },
            1000);
</script>
</html>