<% include ../commons/header %>

    <section id="registerSection">
        <form action="/users/register" method="POST">
            <input type="hidden" value="<%= callback %>"/>
            <input type="text" name="username" placeholder="User Name"/><br/>
            <input type="password" name="password1" placeholder="Password"/><br/>
            <input type="password" name="password2" placeholder="Re-Password"/><br/>
            <input type="submit" value="Register"/><br/>
        </form>
    </section>

<% include ../commons/footer %>
